* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 80px;
  background-color: #282c34;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #9dae9c;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* General styles for search input and button */
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  width: 0;
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 20px;
  background-color: #fff;
  transition: width 0.4s ease-in-out, padding 0.4s ease-in-out;
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-input.open {
  width: 250px;
  /* Adjust as needed */
  padding: 10px;
}

.search-button {
  background-color: #14f208;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  margin-left: 10px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 1px solid transparent;
}

.search-button:hover {
  background-color: #a7b9a6;
  transform: scale(1.05);
}

.search-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 18px;
}

nav {
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

nav li {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  position: relative;
  display: flex;
  align-items: center;
}

nav li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #4aff22;
}

.nav-icon {
  font-size: 20px;
  color: chartreuse;
}

.nav-icon:hover {
  color: rgb(112, 221, 4);
}

.hero {
  background-image: url("../images/N1KQiOxSD5gp6_2bZYmzeAw6kOuatf_l.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.cta-button {
  background-color: #22ff22;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #717672;
}
.card {
  width: 600px;
  transition: 0.3s ease;
  cursor: pointer;
  padding: 140px;
  border-radius: 25px;
  margin-left: 15px;
  box-shadow: -8px 8px 86px rgba(0, 0, 0, 0.05);
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
